<nav class="nav d-flex align-content-between flex-wrap text-center h-auto d-block" role="navigation" ng-cloak>
    <div class="w-100">
        <img src="img/bird.png" class="header-bird header-img non-hover-img" alt="Bird">
        <a class="nav-item nav-btn" id="main" href="main.html" target="_self" translate="MAIN_PAGE"></a>
        <a class="nav-item nav-btn active" id="tariffs" href="tariffs.jsp" target="_self" translate="TARIFFS"></a>
        <a class="nav-item nav-btn" id="office" href="office.jsp" target="_self" translate="OFFICE_PAGE"></a>
        <a class="nav-item nav-btn" id="bonus-program" href="reward.jsp" target="_self" translate="SHOP_PAGE"></a>
        <a ng-if="role == 'Admin'" class="nav-item nav-btn" id="users" href="users.jsp" target="_self" translate="USERS_PAGE"></a>
        <a class="nav-item nav-btn" href="#" ng-click="logout()" translate="EXIT_BUTTON"></a>
    </div>
    <div class="lang w-100">
        <img class="lang-img" ng-src="img/Flag_of_United_Kingdom.png" alt="Kingdom of United Flag" ng-click="changeLanguage('en')">
        <img class="lang-img" ng-src="img/Flag_of_Russia.png" alt="Russian Flag" ng-click="changeLanguage('ru')">
    </div>
</nav>