body {
    background: linear-gradient(to right, rgba(155, 222, 203, 0.72), rgba(216, 194, 52, 0.58), rgba(216, 194, 52, 0.58));
    height: 100%; 
}

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}