html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 200px;
    max-width: 100%;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    height: 100%;
    background: linear-gradient(to right, rgba(155, 222, 203, 0.72), rgba(216, 194, 52, 0.58), rgba(216, 194, 52, 0.58));
}

nav {
    width: 200px;
    top: 0;
    left: 0;
    font-size: 32px;
    position: fixed;
    height: 100%;
    overflow-y: hidden;
}

nav a {
    display: block;
}

nav .active {
    text-decoration: none;
    font-size: 50px;
    line-height: 45px;
    color: #17a2b8;
}

nav .nav-btn:hover {
    text-decoration: none;
    color: #17a2b8;
}

.modal-open {
    overflow-y: auto
}

img {
    height: 50px;
    width: 50px;
}

img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.lang {
    position: fixed;
    bottom: 10px;
    left: 50px;
    text-align: center;
}