.carousel {
    position: fixed;
    bottom: 50px;
    margin: auto;
    width: auto;
}

.carousel-container {
    padding-right: 200px;
}

.carousel img {
    height: 500px;
    width: 800px;
}

.bird-img {
    position: absolute;
    height: 300px;
    width: auto;
}

