html {
    overflow-y: scroll;
}

nav {
    width: 200px;
    font-size: 22px;
    position: absolute;
    height: 100%;
    overflow-y: hidden;
}

.tariffs-table, .table-caption {
    position: relative;
    top: 10%;
    left: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table-caption {
    font-size: 45px;
}

table thead th {
    height: 50px;
    vertical-align: middle;
    padding: 0px;
}

.balance {
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 26px;
}

.close{
    right: 5%;
}