.rewards-container {
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}

.table {
    background-color: rgba(226, 192, 66, 0.84);
    position: relative;
    text-align: center;
    max-width: 90%;
    margin: auto;
    font-weight: bold;
}

table th {
    font-size: 30px;
}

table td {
    font-size: 20px;
}

.reward-img {
    height: 110px;
    width: auto;
}

.check-reward {
    color: #343a40;
}

.check-reward:hover {
    color: #181d22;
    cursor: pointer;
}

.modal, .modal button {
    top: 25%;
    font-size: 20px;
    font-family: 'Cormorant Infant', serif;
}

i {
    margin-right: 5px;
}